<%- model_class = TimesheetEntry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:entry_id) %>:</strong></dt>
  <dd><%= @timesheet_entry.entry_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @timesheet_entry.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:penn_id) %>:</strong></dt>
  <dd><%= @timesheet_entry.penn_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:entry_date) %>:</strong></dt>
  <dd><%= @timesheet_entry.entry_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hours) %>:</strong></dt>
  <dd><%= @timesheet_entry.hours %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_time) %>:</strong></dt>
  <dd><%= @timesheet_entry.start_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_time) %>:</strong></dt>
  <dd><%= @timesheet_entry.end_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:earnings_type_name) %>:</strong></dt>
  <dd><%= @timesheet_entry.earnings_type_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_nickname) %>:</strong></dt>
  <dd><%= @timesheet_entry.account_nickname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_formatted) %>:</strong></dt>
  <dd><%= @timesheet_entry.account_formatted %></dd>
  <dt><strong><%= model_class.human_attribute_name(:entry_category) %>:</strong></dt>
  <dd><%= @timesheet_entry.entry_category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payroll_status) %>:</strong></dt>
  <dd><%= @timesheet_entry.payroll_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supervisory_group_name) %>:</strong></dt>
  <dd><%= @timesheet_entry.supervisory_group_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:job_type_name) %>:</strong></dt>
  <dd><%= @timesheet_entry.job_type_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pay_period_start) %>:</strong></dt>
  <dd><%= @timesheet_entry.pay_period_start %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pay_period_end) %>:</strong></dt>
  <dd><%= @timesheet_entry.pay_period_end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:employee_approval_time) %>:</strong></dt>
  <dd><%= @timesheet_entry.employee_approval_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supervisor_approver_name) %>:</strong></dt>
  <dd><%= @timesheet_entry.supervisor_approver_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supervisor_approval_time) %>:</strong></dt>
  <dd><%= @timesheet_entry.supervisor_approval_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:business_office_approver_name) %>:</strong></dt>
  <dd><%= @timesheet_entry.business_office_approver_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:business_office_approval_time) %>:</strong></dt>
  <dd><%= @timesheet_entry.business_office_approval_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_cnac) %>:</strong></dt>
  <dd><%= @timesheet_entry.account_cnac %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_org) %>:</strong></dt>
  <dd><%= @timesheet_entry.account_org %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_bc) %>:</strong></dt>
  <dd><%= @timesheet_entry.account_bc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_fund) %>:</strong></dt>
  <dd><%= @timesheet_entry.account_fund %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_object) %>:</strong></dt>
  <dd><%= @timesheet_entry.account_object %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_program) %>:</strong></dt>
  <dd><%= @timesheet_entry.account_program %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_cref) %>:</strong></dt>
  <dd><%= @timesheet_entry.account_cref %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fed_to_payroll) %>:</strong></dt>
  <dd><%= @timesheet_entry.fed_to_payroll %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payroll_feed_date) %>:</strong></dt>
  <dd><%= @timesheet_entry.payroll_feed_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payroll_transaction_type) %>:</strong></dt>
  <dd><%= @timesheet_entry.payroll_transaction_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hourly_rate) %>:</strong></dt>
  <dd><%= @timesheet_entry.hourly_rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:part_timer_id) %>:</strong></dt>
  <dd><%= @timesheet_entry.part_timer_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              timesheet_entries_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_timesheet_entry_path(@timesheet_entry), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              timesheet_entry_path(@timesheet_entry),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
