<%= form_for(@part_timer) do |f| %>
  <% if @part_timer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_timer.errors.count, "error") %> prohibited this part_timer from being saved:</h2>

      <ul>
      <% @part_timer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :pennkey %><br />
    <%= f.text_field :pennkey %>
  </div>
  <div class="field">
    <%= f.label :lui_username %><br />
    <%= f.text_field :lui_username %>
  </div>
  <div class="field">
    <%= f.label :havic_userID %><br />
    <%= f.number_field :havic_userID %>
  </div>
  <div class="field">
    <%= f.label :alternate_email %><br />
    <%= f.text_field :alternate_email %>
  </div>
  <div class="field">
    <%= f.label :job_title %><br />
    <%= f.select :job_title, ['--', 'STUDENT WORKER A', 'TEMP EXTRA PERSON'] %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.select :level, ['--', 'trainee', 'junior', 'senior'] %>
  </div>
  <div class="field">
    <%= f.label :last_raise %><br />
    <%= f.date_select :last_raise %>
  </div>
  <div class="field">
    <%= f.label :hire_date %><br />
    <%= f.date_select :hire_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, ['--', 'Active', 'Inactive', 'Deactivated', 'Removed'] %>
  </div>
  <div class="field">
    <%= f.label :language1 %><br />
    <%= f.text_field :language1 %>
  </div>
  <div class="field">
    <%= f.label :dialect1 %><br />
    <%= f.text_field :dialect1 %>
  </div>
  <div class="field">
    <%= f.label :language2 %><br />
    <%= f.text_field :language2 %>
  </div>
    <div class="field">
    <%= f.label :language3 %><br />
    <%= f.text_field :language3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
