<%- model_class = PartTimer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", "ID" %></th>
      <th><%= sortable "last_name" %></th>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "fy_hours", "FY hours" %></th>
      <th><%= sortable "average_weekly_hours" %></th>
      <th><%= sortable "hire_date" %></th>
      <th><%= sortable "last_time_sheet" %></th>
      <th><%= sortable "status" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @part_timers.each do |part_timer| %>
      <tr>
        <td><%= link_to part_timer.id, part_timer_path(part_timer) %></td>
        <td><%= part_timer.last_name %></td>
        <td><%= part_timer.first_name %></td>
        <td><%= part_timer.fy_hours %></td>
        <td><%= part_timer.average_weekly_hours %></td>
        <td><%= part_timer.hire_date %></td>
        <td><%= part_timer.last_time_sheet %></td>
        <td><%= part_timer.status %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_part_timer_path(part_timer), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      part_timer_path(part_timer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_part_timer_path,
            :class => 'btn btn-primary' %>
