<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @part_timer.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @part_timer.first_name %>
</p>

<p>
  <b>Pennkey:</b>
  <%= @part_timer.pennkey %>
</p>

<p>
  <b>Lui username:</b>
  <%= @part_timer.lui_username %>
</p>

<p>
  <b>Havic userid:</b>
  <%= @part_timer.havic_userID %>
</p>

<p>
  <b>Alternate email:</b>
  <%= @part_timer.alternate_email %>
</p>

<p>
  <b>Job title:</b>
  <%= @part_timer.job_title %>
</p>

<p>
  <b>Level:</b>
  <%= @part_timer.level %>
</p>

<p>
  <b>Fiscal year hours:</b>
  <%= @part_timer.fy_hours %>
</p>

<p>
  <b>Hire date:</b>
  <%= @part_timer.hire_date %>
</p>
<p>
  <b>Last raise:</b>
  <%= @part_timer.last_raise %>
</p>
<p>
  <b>Last time sheet:</b>
  <%= @part_timer.last_time_sheet %>
</p>
<p>
  <b>Status:</b>
  <%= @part_timer.status %>
</p>
<p>
  <b>1st language:</b>
  <%= @part_timer.language1 %>
</p>
<p>
  <b>1st dialect:</b>
  <%= @part_timer.dialect1 %>
</p>
<p>
  <b>2nd language:</b>
  <%= @part_timer.language2 %>
</p>
<p>
  <b>3rd language:</b>
  <%= @part_timer.language3 %>
</p>
<%= link_to 'Edit', edit_part_timer_path(@part_timer) %> |
<%= link_to 'Back to full part timers list', part_timers_path %>
